<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <mat-drawer-container class="example-container">
    <mat-drawer id="sides" mode="side" opened>
      <br><br><br><br>
      <ul id="ul">

        <li>
          <a routerLink="/user"> employee list</a>
        </li><br>
        <li>
          <a href="http://localhost:4200/detail/#sec1"> outsourcing Services</a>
        </li><br><br>
        <li>
          <a href="http://localhost:4200/detail/#sec2">CFO Services</a>
        </li><br><br>
        <li>
          <a href="http://localhost:4200/detail/#sec3">Talent Acquisition</a>
        </li><br><br>
        <a href="http://localhost:4200/detail/#sec4">ACCOUNTING OUTSOURCING</a><br>
        <li><br><br>
          <a href="http://localhost:4200/detail/#sec5 ">Contact Us</a>
        </li>
   

      </ul>

    </mat-drawer>
    <mat-drawer-content>
      <div id="sec1">
        <div id="div1">
          <button style="position: absolute; margin-left: 800px;"> <a href="http://localhost:4200/detail"><i
                class="bi bi-backspace" style="color:black"></i></a> </button><br>

          <h1 style="font-weight: bolder; font-size: 30px; margin-left: -20px; ">The Distinctive Merits of SBS Payroll
            Outsourcing Services</h1>
          <h3 style=" font-size: 18px; margin-left: -140px; color: antiquewhite;">Determined to deliver Deft payroll outsourcing services
            matching your expectations and meeting your business requirements</h3>
          <div class="container" style="margin-left: -50px;">
            <div class="row">
              <div class="col-sm" style="box-shadow: 10px 10px 10px 10px #2222 ; margin-left: -30px;  background-color: antiquewhite;">
                <h1>
                  Work on your Cost
                </h1><br>
                <p>Be cost effective in this competitive <br> market by availing the affordable payroll <br> management
                  services and options on <br> your palm</p>
              </div>
              <div class="col-sm" style="box-shadow: 10px 10px 10px 10px #2222 ; background-color: antiquewhite;">
                <h1>
                  ROI
                </h1><br>
                <p>Grabbing our payroll outsourcing services <br> can be assured with effective return on <br>
                  investment by making use of the business <br> inbuilt tools and systems</p>
              </div>
              <div class="col-sm" style=" background-color: antiquewhite; box-shadow: 10px 10px 10px 10px #2222 ;">
                <h1>
                  Nil zone of Compliances
                </h1><br>
                <p>
                  Being updated is our momentum mark <br> and avail the updated payroll services <br> provider to get
                  rid of compliance. Save <br> your time and cost
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- //section2 -->
<section id="sec2">
<div id="div2">
  <button style="position: absolute; margin-left: 800px;"> <a href="http://localhost:4200/detail"><i
    class="bi bi-backspace" style="color:black"></i></a> </button>
<h1 style="margin-left: 550px; margin-top: 40px; font-weight: 600;">CFO on Hire</h1>
</div><br>
<div class="container" style="margin-left: 50px; margin-top: 60px;">
  <div class="row">
    <div class="col" id="img1">
    </div>
    <div class="col" style="margin-left: 20px; box-shadow: 10px 10px 10px 10px #0e0e0e22;">
      <p>CFO is a prominent figure in business to lead business growth with innovations and strategies, widened understandings of cost management, and ensuring compliance. <br><br>

        Having a balanced business lead between growth and sustaining is the herculean task for every entrepreneur. Alongside present pandemic situation across the universe led to the increased challenges and toughened the system. The world witnesses the GDP fall, demand-supply inappropriate ratio, and business uncertainty at all levels <br><br>
        
        SBS is behind the business owners and every entrepreneur irrespective of business size and type. We are ready to provide our extensive support through our CFO services and you can experience the expertise of Qualified finance professionals. Their leadership and result can create an incomparable and competitive business strategies</p>
    </div>
  </div>
</div>
</section>

<!-- section3 -->
<section id="sec3">
  <button style="position: absolute; margin-left: 800px;"> <a href="http://localhost:4200/detail"><i
    class="bi bi-backspace" style="color:black"></i></a> </button>
<div style="margin-left: 200px; margin-top: 40px; " >
  <h1 style="font-weight: 600; font-size: 25px;">An Exemplary Talent Acquisition Services for your Business across the Globe</h1>
  <h4>Our dedicated service becomes your desired solutions</h4>
</div>

  <div class="container" style="margin-left: 50px; margin-top: 60px;">
    <div class="row">
      <div class="col" id="img2">
      </div>
      <div class="col" style="margin-left: 20px; box-shadow: 10px 10px 10px 10px #0e0e0e22;">
        <p>CFO is a prominent figure in business to lead business growth with innovations and strategies, widened understandings of cost management, and ensuring compliance. <br><br>
  
          Having a balanced business lead between growth and sustaining is the herculean task for every entrepreneur. Alongside present pandemic situation across the universe led to the increased challenges and toughened the system. The world witnesses the GDP fall, demand-supply inappropriate ratio, and business uncertainty at all levels <br><br>
          
          SBS is behind the business owners and every entrepreneur irrespective of business size and type. We are ready to provide our extensive support through our CFO services and you can experience the expertise of Qualified finance professionals. Their leadership and result can create an incomparable and competitive business strategies</p>
      </div>
    </div>
  </div>
  
  <div class="container" style="margin-left: 50px; margin-top: 60px;">
    <div class="row">
      <div class="col" style="box-shadow: 10px 10px 10px 10px #0e0e0e22;">
        <p>Our Talent acquisition Services system is determined to revamp your hiring structure and recreate your talent hiring system to the competitive precinct. Seize our expertise through our talent acquisition consultants to strategically approach the hiring bounds. <br><br>
  
          We hunt the best talents matching your business goals and objectives and thrive for your flawless results. Availing our talent acquisition service lets you build your talent dominion. <br><br>
          
          We extend our quality service to build trust with every client and make them stress-free in getting the potentials. Our consultants and experts make your job simple and help you in sourcing “ Right Man for Right Job</p>
      </div>
      <div class="col" style="margin-left: 20px; " id="img3">
      </div>
    </div>
  </div>
</section>

<!-- section4 -->
<section id="sec4">
  <button style="position: absolute; margin-left: 800px; margin-top: -40px;" > <a href="http://localhost:4200/detail"><i
    class="bi bi-backspace" style="color:black"></i></a> </button>
  <div class="container" style="margin-left: 50px; margin-top:560px;">
    <div class="row">
      <div class="col"  id="img4">
      </div>
      <div class="col" style="margin-left: 20px; box-shadow: 10px 10px 10px 10px #2222; " >
        <h1 style="font-weight: bold;">FINANCE & ACCOUNTING <br> OUTSOURCING</h1><br>
        <ul id="ss">
          <li>Automated finance & accounting process</li><br>
          <li>Inhouse accounting & reporting structure
          </li><br>
          <li>Systematized KPI structure report</li><br>
          <li>Financial performance result</li><br>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container" style="margin-left: 50px; margin-top:20px;">
    <div class="row">
      <div class="col" style="margin-left: 20px; box-shadow: 10px 10px 10px 10px #2222; " >
        <h1 style="font-weight: bold;">FINANCE & ACCOUNTING <br> OUTSOURCING</h1><br>
        <ul id="ss">
          <li>Automated finance & accounting process</li><br>
          <li>Inhouse accounting & reporting structure
          </li><br>
          <li>Systematized KPI structure report</li><br>
          <li>Financial performance result</li><br>
        </ul>
      </div>
      <div class="col"  id="img5" >
      </div>
    </div>
  </div>





</section>
<!-- section5 -->
<section id="sec5">

  <div class="container" style="margin-left: 30px; margin-top:460px;">
<h1 style="margin-left: 450px; margin-top: 40px; font-weight: 600;">Indian Location</h1><br>
    <div class="row" style="margin-left: 50px;">
      <div class="col-sm" id="Loc" style="box-shadow: 10px 10px 10px 10px #2222;">
       <h1>Chennai : 9003999394</h1> 
      </div>
      <div class="col-sm" id="Loc" style="box-shadow: 10px 10px 10px 10px #2222; margin-left: 20px;">
        <h1>Delhi : 9940477723</h1>
      </div>
      <div class="col-sm" id="Loc" style="box-shadow: 10px 10px 10px 10px #2222; margin-left: 20px;">
        <h1>Ahmedabad : 9094868834</h1>
      </div>
    </div> <br><br>
    <h1 style="margin-left: 450px; margin-top: 40px; font-weight: 600;">World Wide Location</h1><br>
    <div class="row" style="margin-left: 50px;">
      <div class="col-sm" id="Loc" style="box-shadow: 10px 10px 10px 10px #2222;">
       <h1>UAE Dubai : +971559117052</h1> 
      </div>
      <div class="col-sm" id="Loc" style="box-shadow: 10px 10px 10px 10px #2222; margin-left: 20px;">
        <h1>Australia : +61488212743</h1>
      </div>
      <div class="col-sm" id="Loc" style="box-shadow: 10px 10px 10px 10px #2222; margin-left: 20px;">
        <h1>UK : +44 7971133670</h1>
      </div>
    </div>

  </div>

</section>


    </mat-drawer-content>
  </mat-drawer-container>

</body>

</html>